<a href="https://colab.research.google.com/github/TALHAREYAZ/Python_Lab/blob/main/Forage_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
sns.set()
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder,PolynomialFeatures
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

cust = pd.read_csv('/content/drive/MyDrive/ML DATA SET/ddd/KPMG.csv',encoding='windows-1252')

In [ ]:
cust.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,25-02-2017,False,Approved,Solex,Standard,medium,medium,71.49,$53.62,41245.0
1,2,3,3120,21-05-2017,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,$388.92,41701.0
2,3,37,402,16-10-2017,False,Approved,OHM Cycles,Standard,low,medium,1793.43,$248.82,36361.0
3,4,88,3135,31-08-2017,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,$381.10,36145.0
4,5,78,787,01-10-2017,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,$709.48,42226.0

In [ ]:
print(cust.shape)

(20000, 13)

In [ ]:
print(cust.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 2.0+ MB
None

In [ ]:
print(cust.isnull().sum())

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [ ]:
cust['online_order'] = cust['online_order'].fillna(cust['online_order'].mean())
cust['product_line'] = cust['product_line'].fillna(method='bfill')
cust['product_class'] = cust['product_class'].fillna(method='bfill')
cust['product_size'] = cust['product_size'].fillna(method='bfill')
cust['standard_cost'] = cust['standard_cost'].fillna(method='bfill')
cust['brand'] = cust['brand'].fillna(method='bfill')
cust['online_order'] = cust['online_order'].fillna(method='bfill')
cust['product_first_sold_date'] = cust['product_first_sold_date'].fillna(cust['product_first_sold_date'].mean())

In [ ]:
print(cust.isnull().sum())

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [ ]:
print(cust.drop_duplicates())

       transaction_id  product_id  customer_id transaction_date online_order  \
0                   1           2         2950       25-02-2017        False
1                   2           3         3120       21-05-2017         True
2                   3          37          402       16-10-2017        False
3                   4          88         3135       31-08-2017        False
4                   5          78          787       01-10-2017         True
...               ...         ...          ...              ...          ...
19995           19996          51         1018       24-06-2017         True
19996           19997          41          127       09-11-2017         True
19997           19998          87         2284       14-04-2017         True
19998           19999           6         2764       03-07-2017        False
19999           20000          11         1144       22-09-2017         True

      order_status           brand product_line product_class product_size  \
0         Approved           Solex     Standard        medium       medium
1         Approved   Trek Bicycles     Standard        medium        large
2         Approved      OHM Cycles     Standard           low       medium
3         Approved  Norco Bicycles     Standard        medium       medium
4         Approved  Giant Bicycles     Standard        medium        large
...            ...             ...          ...           ...          ...
19995     Approved      OHM Cycles     Standard          high       medium
19996     Approved           Solex         Road        medium       medium
19997     Approved      OHM Cycles     Standard        medium       medium
19998     Approved      OHM Cycles     Standard          high       medium
19999     Approved   Trek Bicycles     Standard        medium        small

       list_price standard_cost  product_first_sold_date
0           71.49        $53.62                  41245.0
1         2091.47       $388.92                  41701.0
2         1793.43       $248.82                  36361.0
3         1198.46       $381.10                  36145.0
4         1765.30       $709.48                  42226.0
...           ...           ...                      ...
19995     2005.66     $1,203.40                  37823.0
19996      416.98       $312.74                  35560.0
19997     1636.90        $44.71                  40410.0
19998      227.88       $136.73                  38216.0
19999     1775.81     $1,580.47                  36334.0

[20000 rows x 13 columns]

In [ ]:
print(cust.shape)

(20000, 13)

In [ ]:
print(cust.to_csv('cust_df.csv'))

None

In [ ]:
cust_df = pd.read_csv('/content/cust_df.csv',encoding='windows-1252')

In [ ]:
print(cust.isnull().sum())

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [ ]:
print(cust_df.shape)

(20000, 14)